@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header
{
    Thông tin User
}


@section jsFooter
{

    <script src="~/assets/admin/js/controller/userController.js"></script>
    @*<script>
        $('.btn-active').click(function () {

           

        })


    </script>*@

}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách User
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {

                <div class="input-group" style="width:30%;margin-bottom:10px">
                    <input type="text" value="@ViewBag.searchString" name="searchString" class="form-control" placeholder="Nhập từ khóa cần tìm...." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>
                    <a href="/Admin/User/Create" class="btn btn-success" style="margin-left:5px">Tạo mới</a>
                </div>

                }
                

                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 

                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa") </a></td>
                            <td>
                                @*@Html.ActionLink("Sửa", "Edit", "User", new { id = item.ID }, null)*@
                                <a href="/Admin/User/Edit?id=@item.ID" class="btn btn-danger">Sửa </a>
                                @*@Html.ActionLink("Xóa", "Delete", "User",new { id = item.ID },new {onclick="return confirm('Bạn có chắc muốn xóa');"})*@
                                @Ajax.ActionLink("Xóa", "Delete", "User", new { id = item.ID  },
                               new AjaxOptions
                               {
                                   HttpMethod = "Delete",
                                   Confirm = "Bạn có chắc muốn xóa " + @item.Name,
                                   OnSuccess = "reloadWeb"
                               })
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

        </div>
        <div class="dataTables_paginate paging_simple_numbers">
            <ui class="">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page,@searchString= ViewBag.searchString }))
            </ui>
        </div>
    </div>
</div>

<script>
    function reloadWeb() {
        location.reload(true);
    }



</script>
